{% extends 'base.html.twig' %}
{% block body %}
    <h1>Nouveau contact</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/contacts">Retour à la liste des contacts</a>
{% endblock %}
